@import "../../../../styles/appStyle.css";
@import "../../../../styles/helper.css";
@import "./glyphicons.css";

:root {
  --body-theme: unset;
  --background-color: unset;
  --primary-color: unset;
}

body {
  background: var(--background-color);
}

body > section {
  padding: 15px;
}

section#intro,
section#listing {
  display: none;
}

section#filter {
  padding: 15px 0;
  overflow-y: auto;
}

#home:not(.active),
#detail:not(.active),
#edit:not(.active) {
  display: none;
}

/*temp for text fields start*/
.search-field.mdc-text-field {
  width: 100%;
  height: auto;
  border: 0;
  overflow: visible;
  background-color: transparent;
}
.search-field.mdc-text-field .mdc-text-field__input {
  font-size: 13px;
  border: 0 ;
  border-radius: .25rem;
  padding: .75rem 1rem;
  padding-left: 48px;
  background-color: rgba(255,255,255,.05);
  box-shadow: 0 .125rem .25rem .125rem rgba(150,150,150,.2);
  opacity: 1;
}
.mdc-text-field::before, .mdc-text-field::after {
  background-color: transparent;
}
.search-field.mdc-text-field .mdc-text-field__input::placeholder {
  color: inherit;
  opacity: .5;
}
.search-field .mdc-text-field__icon {
  font-size: 22px;
}
/*temp for text fields end*/

.carousel-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.mdc-theme--text-body {
  color: var(--body-theme);
}
.mdc-fab {
  position: fixed;
  right: 35px;
  bottom: 60px;
  z-index: 1000;
}

#home header {
  background-color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 15px 4px;
  box-shadow: 0 0.25rem 0.125rem rgb(150 150 150 / 20%);
}
.header-qf {
  overflow-y: scroll;
  white-space: nowrap;
  display: block;
  padding: 0 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.header-qf .mdc-chip {
  border-radius: 8px;
}
.header-qf .mdc-chip:first-child {
  margin-left: 0;
}
.header-qf .mdc-chip__text {
  font-size: 12px;
}

#introLocationsList .location-item {
  padding: 10px;
}
#listingLocationsList .location-item {
  padding: 10px 20px;
}
.d-flex {
  display: flex;
}
.justify-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.location-item img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 4px;
  object-fit: cover;
}
.location-item__description {
  flex: 1;
}
.location-item__description > p {
  margin-bottom: 0;
}
.location-item__description p:first-child {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 2px;
  font-weight: bold;
  color: #000000;
}
.location-item__description p:not(:first-child) {
  margin-top: 6px;
  font-size: 12px;
}
.location-item__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.location-item__actions p {
  font-size: 12px;
  margin: 0;
}
.location-item .mdc-chip-set {
  margin-top: 12px;
  padding: 0;
}
.location-item .mdc-chip:first-child {
  margin-left: 0;
}
.location-item .mdc-chip .mdc-chip__text {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

#areaSearchLabel {
  display: none;
}
.header-qf  .empty-state {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 13px;
  text-align: center;
}

div.empty-page {
  background-image: url("../images/empty_page.svg");
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: none;
}

#filter {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -200%;
  top: 0;
  transition: all .4s ease-in-out;
  overflow: hidden;
}
#filter.overlay {
  left: 0;
}

.expansion-panel__container {
  height: 100%;
  display: grid;
  align-content: space-between;
}

.accordion {
  width: 100%;
  border-radius: 4px;
}

.expansion-panel {
  width: 100%;
  position: relative;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.expansion-panel-header {
  height: 64px;
  cursor: pointer;
  outline: 0;
  width: 100%;
  background: none;
  border: 0;
  color: inherit;
  padding: 4px 16px;
  text-align: initial;
}
.expansion-panel .mdc-chip-set {
  padding: 4px 16px;
}
.expansion-panel-header-content {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.expansion-panel-header .expansion-panel-indicator {
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  vertical-align: middle;
  width: 8px;
  height: 8px;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.expansion-panel-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  font-weight: bolder;
  color: #000000;
  display: flex;
  align-items: center;
}
.expansion-panel-title .glyphicon {
  margin-right: 12px;
  background-color: rgba(150,150,150,.1);
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
}
.expansion-panel-actions {
  display: flex;
  align-items: center;
}

.expansion-panel-body {
  min-height: 0px;
  height: 0;
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.expansion-panel.active {
  margin-bottom: 16px;
}
.expansion-panel.active .expansion-panel-indicator {
  transform: rotate(225deg);
}
.expansion-panel.active .expansion-panel-body {
  height: var(--ht, 220px);
  visibility: visible;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.mdc-checkbox .mdc-checkbox__native-control:checked~.mdc-checkbox__background::before, .mdc-checkbox .mdc-checkbox__native-control:indeterminate~.mdc-checkbox__background::before {
  background-color: var(--primary-color);
}
.mdc-chip.disabled {
  pointer-events: none;
}


.drawer {
  position: absolute;
  box-shadow: rgb(150 150 150 / 20%) 0px -0.25rem 0.125rem;
  width: 100%;
  top: 100%;
  height: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.125s;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow-y: scroll;
/* todo rethink below approach */
  margin-left: -15px;
}

.drawer.pulled {
  height: 50%;
  top: 50%;
}

.resizer {
  cursor: ns-resize;
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background: #e0e0e0;
  margin-right: auto;
  margin-left: auto;
}

.drawer-header {
  width: 100%;
  padding: 10px 20px 15px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}
.drawer-header .bookmark-result p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.drawer-header .filter-options {
  display: flex;
}
.drawer-header .filter-options .mdc-button {
  font-size: 13px;
  text-transform: unset;
  letter-spacing: normal;
}
.mdc-button.mdc-button--triangle .mdc-button__label {
  margin-right: 16px;
}
.mdc-button.mdc-button--triangle {
  padding: 0 8px;
  justify-content: flex-start;
}
.mdc-button.mdc-button--triangle:after {
  content: " ";
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
  position: absolute;
  right: 8px;
  top: calc(50% - 2px);
  margin-left: 4px;
}

button span {
  pointer-events: none;
}

.resizer {
  position: relative;
}

.resizer:before {
  position: absolute;
  content: '';
  top: -10px;
  right: -80px;
  left: -80px;
  bottom: -40px;
}

.location-image-item {
  background-repeat: no-repeat;
  padding: 10px 20px;
  color: #FFFFFF;
  background-size: cover;
  margin-bottom: 1px;
}
.location-image-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-image-item__header p {
  font-size: 12px;
}
.location-image-item__body p:first-child {
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}
.location-image-item__body p:nth-child(2) {
  font-size: 13px;
}
.location-image-item__body p:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.location-image-item .mdc-chip-set {
  padding: 0;
}
.location-image-item .mdc-chip-set .mdc-chip:first-child {
  margin-left: 0;
}
.location-image-item .mdc-chip-set .mdc-chip {
  background-color: #000000;
  height: 28px;
}
.location-image-item .mdc-chip-set .mdc-chip__text {
  font-size: 12px;
  color: #FFFFFF;
}

.location-detail__cover {
  position: relative;
  background-image: linear-gradient( rgb(0 0 0 / 0.6), rgb(0 0 0 / 0.6) ),url(https://placeimg.com/800/400);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 15px 20px;
  margin-right: -15px;
  margin-left: -15px;
  color: #FFFFFF;
}
.location-detail__cover p:first-child {
  font-size: 13px;
  margin: 0 0 8px;
}
.open-now-badge {
  background-color: #14cb5d;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}
.location-detail__cover .open-now-badge {
  margin-bottom: 8px;
}

.location-detail__cover #bookmarkLocationBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.location-detail__cover #shareLocationBtn {
  position: absolute;
  right: 20px;
}
.location-detail__cover h2 {
  margin-top: 50px;
  margin-bottom: 0;
}
.location-detail__cover h4 {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 15px;
  font-weight: normal;
}
.location-detail__cover .mdc-text-field__icon {
  cursor: pointer;
}
.location-detail__address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
}
.location-detail__address .material-icons {
  font-size: 16px;
  margin-left: 8px;
}
.location-detail__address p:last-child {
  display: flex;
  align-items: center;
}
.carousel-demo {
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 20px;
}
.carousel-demo > div {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-color: #dfdfdf;
  margin-right: 5px;
  border-radius: 4px;
}
.location-detail #chatWithOwnerBtn {
  width: 100%;
  margin-top: 15px;
  font-weight: bold;
}
