@import "../../../../../../styles/helper.css";
@import "../../assets/bf_base.css";
@import "../../assets/linearicons/cpIcons.css";
@import "./dialog.css";
@import "./sortableList.css";
@import "./searchTable.css";
@import "./reset.css";
@import "../../assets/style.css";



#items {
	max-height: calc(100vh - 300px) !important;
	overflow-y: auto;
}

/* Sub Page Styles */

.sub-page .sub-page-body {
    max-height: calc(100vh - 120px);
    min-height: calc(100vh - 120px);
    overflow: auto;
	padding: 0 1rem;
}

/* .sub-page .sub-page-footer {
    text-align: right;
    border-top: 1px solid #ddd !important;
}

.sub-page .sub-page-footer button {
    margin-left: 8px;
} */

/* End Sub Page Styles */

/* Map */
#location-map {
	height: 40vh;
	width: 100%;
}
/* End Map */

.button-switch {
	margin: 0 0 0 1rem !important;
}

.select-categories-list .categories-list-item {
	border-radius: 4px;
	border: 1px solid #d3d2d2;
	padding: .7rem;
	margin-top: .5rem;
}

.day-intervals-item{
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
}

.btn--icon.btn-small {
	width : 2rem !important;
	height: 2rem !important;
}
