<template>
  <div class="location-detail">
    <div class="location-detail__top-view">
      <div class="location-detail__top-header">
        <span>
          <h1>
            Location Title
          </h1>
          <h5>Subtitle</h5>
        </span>
        <span>
          <i id="shareLocationBtn" class="material-icons-outlined mdc-text-field__icon pointer" tabindex="0" role="button">ios_share</i>
          <i id="bookmarkLocationBtn" class="material-icons-outlined mdc-text-field__icon margin-left-fifteen" tabindex="0" role="button" style="display: none;">star_outline</i>
        </span>
      </div>

      <div class="location-detail__top-subtitle">
        <p class="text-truncate">Category | Subcategory</p>
        <button class="mdc-button mdc-button--unelevated working-hours-button" id="workingHoursBtn">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__focus-ring"></span>
          <span class="mdc-button__label">Open Now</span>
        </button>
      </div>
    </div>

    <div class="location-detail__map--top-view" style="height: 300px; margin-left: -15px; margin-right: -15px; margin-top: 6px;"></div>

    <div class="location-detail__cover">
      <p class="text-truncate">Category | Subcategory</p>
      <button class="mdc-button mdc-button--unelevated working-hours-button" id="workingHoursBtn">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__focus-ring"></span>
        <span class="mdc-button__label">Open Now</span>
      </button>
      <span style="font-size: 14px;">★ ★ ★ ★ ★</span>
      <h2>Location Title</h2>
      <h4>Subtitle</h4>
      <i id="shareLocationBtn" class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">ios_share</i>
      <i id="bookmarkLocationBtn" class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button" style="visibility: hidden;">star_outline</i>
    </div>
    <div class="location-detail__address">
      <p>Address or Coordinates</p>
      <p>
        2mi
        <i class="material-icons" tabindex="0" role="button">near_me</i>
      </p>
    </div>
    <div class="location-detail__carousel"></div>
    <button id="chatWithOwnerBtn" class="mdc-button mdc-button--outlined">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__focus-ring"></span>
      <span class="mdc-button__label">CHAT WITH OWNER</span>
    </button>
    <div class="location-detail__actions"></div>
    <div class="location-detail__rating">
      <p>Rate This Location</p>
      <div data-rating-id="ratingComponentTest"></div>
    </div>
    <div class="location-detail__bottom-cover"></div>
    <div class="location-detail__description" style="color: #828282;">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
  </div>
  <div class="location-detail__map" style="height: 300px; margin-left: -15px; margin-right: -15px; margin-top: 25px;"></div>
</template>
