<template>
  <div class="location-detail">
    <div class="location-detail__cover">
      <p>Category | Subcategory</p>
      <span class="open-now-badge">Open Now</span>
      <span style="font-size: 14px;">★ ★ ★ ★ ★</span>
      <h2>Location Title</h2>
      <h4>Subtitle</h4>
      <i id="shareLocationBtn" class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">ios_share</i>
      <i id="bookmarkLocationBtn" class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">star_outline</i>
    </div>
    <div class="location-detail__address">
      <p>Address or Coordinates</p>
      <p>
        2mi
        <i class="material-icons" tabindex="0" role="button">near_me</i>
      </p>
    </div>
    <div class="carousel-demo">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <button id="chatWithOwnerBtn" class="mdc-button mdc-button--outlined">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__focus-ring"></span>
      <span class="mdc-button__label">CHAT WITH OWNER</span>
    </button>
    <div class="margin-top-ten">
      <div class="action-item">
        <i class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">call</i>
        <div class="mdc-chip" role="row">
          <div class="mdc-chip__ripple"></div>
          <span role="gridcell">
            <span role="checkbox" tabindex="0" aria-checked="true" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Action Name</span>
            </span>
          </span>
        </div>
      </div>
      <div class="action-item">
        <i class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">textsms</i>
        <div class="mdc-chip" role="row">
          <div class="mdc-chip__ripple"></div>
          <span role="gridcell">
            <span role="checkbox" tabindex="0" aria-checked="true" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Action Name</span>
            </span>
          </span>
        </div>
      </div>
      <div class="action-item">
        <i class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">directions_car_filled</i>
        <div class="mdc-chip" role="row">
          <div class="mdc-chip__ripple"></div>
          <span role="gridcell">
            <span role="checkbox" tabindex="0" aria-checked="true" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Action Name</span>
            </span>
          </span>
        </div>
      </div>
      <div class="action-item">
        <i class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">shopping_cart</i>
        <div class="mdc-chip" role="row">
          <div class="mdc-chip__ripple"></div>
          <span role="gridcell">
            <span role="checkbox" tabindex="0" aria-checked="true" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Action Name</span>
            </span>
          </span>
        </div>
      </div>
      <div class="action-item">
        <i class="material-icons-outlined mdc-text-field__icon" tabindex="0" role="button">app_settings_alt</i>
        <div class="mdc-chip" role="row">
          <div class="mdc-chip__ripple"></div>
          <span role="gridcell">
            <span role="checkbox" tabindex="0" aria-checked="true" class="mdc-chip__primary-action">
              <span class="mdc-chip__text">Action Name</span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div>Rating</div>
    <div>Description</div>
    <div>MAP</div>
  </div>
  <div></div>
</template>
