<template>
  <div class="location-detail">
    <div class="location-detail__top-view">
      <div class="location-detail__top-header mdc-theme--text-body">
        <span>
          <h1>
            Location Title
          </h1>
          <h5>Subtitle</h5>
        </span>
        <span class="location-detail__top-header-icons mdc-theme--text-icon-on-background"></span>
      </div>

      <div class="location-detail__top-subtitle">
        <p class="text-truncate mdc-theme--text-primary-on-background">Category | Subcategory</p>
        <button class="mdc-button mdc-button--unelevated working-hours-button" id="topWorkingHoursBtn">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__focus-ring"></span>
          <span class="mdc-button__label">Open</span>
        </button>
      </div>
    </div>

    <div class="location-detail__map--top-view" style="height: 300px; margin-left: -15px; margin-right: -15px; margin-top: 6px;"></div>

    <div class="location-detail__cover">
      <p class="text-truncate">Category | Subcategory</p>
      <button class="mdc-button mdc-button--unelevated working-hours-button" id="coverWorkingHoursBtn">
        <span class="mdc-button__ripple"></span>
        <span class="mdc-button__focus-ring"></span>
        <span class="mdc-button__label">Open</span>
      </button>
      <span class="location-cover__rating-value"></span>
      <h2>Location Title</h2>
      <h4>Subtitle</h4>
    </div>
    <div class="location-detail__address mdc-theme--text-body">
      <p>Address or Coordinates</p>
      <p id="locationDirectionsBtn">
        -
        <i class="material-icons mdc-theme--text-icon-on-background" tabindex="0" role="button">near_me</i>
      </p>
    </div>
    <div class="location-detail__carousel"></div>
    <div class="location-detail__actions"></div>
    <div class="location-detail__rating">
      <p bfString="general.rateThisLocation" class="mdc-theme--text-body">Rate This Location</p>
      <div data-rating-id="ratingComponentTest"></div>
    </div>
    <div class="location-detail__bottom-cover"></div>
    <div class="location-detail__description mdc-theme--text-body">
    </div>
  </div>
  <div class="location-detail__map" style="height: 300px; margin-left: -15px; margin-right: -15px; margin-top: 25px;"></div>
</template>
