<template>
  <header>
    <label class="mdc-text-field mdc-text-field--with-leading-icon w-100 searchbar mdc-theme--text-body margin-bottom-twenty">
      <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading mdc-theme--text-icon-on-background" tabindex="0" role="button">search</i>
      <input class="mdc-text-field__input mdc-theme--primary" placeholder="Search" type="text" aria-labelledby="searchTitleInput" id="searchTitleInput">
    </label>

    <label class="mdc-text-field mdc-text-field--with-leading-icon w-100 searchbar mdc-theme--text-body">
      <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading mdc-theme--text-icon-on-background" tabindex="0" role="button">search</i>
      <input class="mdc-text-field__input mdc-theme--primary" placeholder="Current Area" type="text" aria-labelledby="searchTitleInput" id="searchTitleInput">
    </label>
  </header>

  <section id="intro" class="margin-top-thirty">
    <div class="carousel-wrapper">
      <div class="carousel"></div>
    </div>

    <div class="intro-details margin-top-thirty"></div>
  </section>

  <section></section>
</template>
