@import "../../../../../../styles/helper.css";
@import "../../../../../../styles/siteIcons.css";
@import "../../../../../../styles/components/control/tagsInput/tagsInput.min.css";
@import "../../assets/bf_base.css";
@import "../../assets/style.css";
@import "../../assets/linearicons/cpIcons.css";
@import "./dialog.css";
@import "./sortableList.css";
@import "./searchTable.css";
@import "./reset.css";



.button-switch {
    margin: 0 !important;
}

#global-tags-list,
#global-editors-list,
#location-editing-list {
  max-height: 400px !important;
  overflow-y: auto;
}

#location-tags-list,
#location-editors-list {
  max-height: 300px !important;
  overflow-y: auto;
}


/*to fix a conflict with sortable List*/
.text-primary {
  color: #09A3EE !important;
}

.select-locations-list {
  margin-top: 20px;
}
.select-locations-list .location-list-item {
  border-radius: 4px;
  border: 1px solid #d3d2d2;
  padding: .7rem;
  margin-top: .5rem;
}

#location-editing-list .btn.btn-sm {
  min-width: 5rem;
}

.pre-line {
  white-space: pre-line;
}

.flex-grow-1 {
  flex-grow: 1;
}

.width-unset {
  width: unset !important;
}

.bf-tooltip .tooltip-content img {
  border-radius: 4px;
  max-width: 100%;
  display: block;
  margin: auto;
}

.cursor-default {
  cursor: default !important;
}
.cursor-pointer {
  cursor: pointer !important;
}

.pointer-events-none {
  pointer-events: none  !important;
}

.min-height-unset {
  min-height: unset !important;
}
.padding-2 {
  padding: 2rem;
}

input:disabled + label {
  opacity: 0.5;
  cursor: default;
}

.disabled-content {
  opacity: 0.5;
  pointer-events: none;
}
