<template>
  <div class="section-title">Chat with Owner</div>
  <div class="clearfix">
      <p class="info-note">Create a direct chat between users and the location owner.</p>
  </div>
  <div class="form-group main clearfix">
    <div class="col-md-5 pull-left padding-left-zero">
      <label class="">Add Chat with Location Owner</label>
    </div>
    <div class="col-md-7 pull-right padding-right-zero flex-row">
      <div class="button-switch">
        <input id="allow-chat-btn" type="checkbox" />
        <label for="allow-chat-btn" class="label-success"></label>
    </div>
    </div>
  </div>
</template>