<template>
  <div class="flex-row space-between">
    <div class="section-title">Global Editing Permissions</div>
    <div class="form-group margin-top-ten">
      <div class="button-switch">
        <input id="enable-global-editing-btn" type="checkbox" />
        <label class="label-success" for="enable-global-editing-btn"></label>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <p class="info-note">Grant permissions to edit all locations to specific users or users with specific tags.
      Users with editing permissions can edit the location through the app.
      <span class="bf-tooltip">
        <span class="tooltip-content">
          <img alt="" src="../assets/images/app_editing.png" width="100">
        </span>
      </span>
    </p>
  </div>
  <hr class="none" />
  <div class="form-group main clearfix">
    <div class="col-md-7 pull-left padding-left-zero">
      <label class="btn-description">Allow Location Creators to Edit
        <div class="bf-tooltip margin-left-ten">
          <div class="tooltip-content to-center">
            Enable users to edit locations created by them
          </div>
        </div>
      </label>
    </div>
    <div class="col-md-5 pull-right padding-right-zero">
      <div class="button-switch pull-right">
        <input id="allowLocationCreatorsToEdit" type="checkbox" />
        <label for="allowLocationCreatorsToEdit" class="label-success"></label>
      </div>
    </div>
  </div>
  <hr class="none" />
  <div class="form-group main clearfix">
    <div class="col-md-7 pull-left padding-left-zero">
      <label class="btn-description">Allow Sending Notifications
        <div class="bf-tooltip margin-left-ten">
          <div class="tooltip-content">
            Grant location editors permission to send notifications to subscribers.
          </div>
        </div>
      </label>
    </div>
    <div class="col-md-5 pull-right padding-right-zero">
      <div class="button-switch pull-right">
        <input id="allowSendingNotification" type="checkbox" />
        <label for="allowSendingNotification" class="label-success"></label>
      </div>
    </div>
  </div>
  <hr class="none" />
  <div class="actions">
    <p>Tags</p>
    <div class="actions">
      <button class="btn btn-success btn-add" id="addGlobalTagsButton" type="button">
        Add Tags
      </button>
    </div>
  </div>
  <div id="global-tags-list"></div>
  <div class="empty-state hidden margin-top-fifteen min-height-unset" id="global-tags-empty-list">
    <h4>No Tags Added.</h4>
  </div>

  <div class="actions margin-top-thirty">
    <p>Location Editors</p>
    <div class="actions">
      <button class="btn btn-success btn-add" id="addGlobalEditorsButton" type="button">
        Add Location Editors
      </button>
    </div>
  </div>
  <div id="global-editors-list"></div>
  <div class="empty-state hidden margin-top-fifteen min-height-unset" id="global-editors-empty-list">
    <h4>No Users Added.</h4>
  </div>
</template>
