<template>
  <div class="section-title">Global Settings</div>

  <div class="form-group main clearfix">
    <div class="col-md-7 pull-left padding-left-zero">
      <label class="btn-description">Enable Locations Subscribing
        <div class="bf-tooltip margin-left-ten">
          <div class="tooltip-content">
            Activate this feature to permit users to follow location updates.
          </div>
        </div>
      </label>
    </div>
    <div class="col-md-5 pull-right padding-right-zero">
      <div class="button-switch pull-right">
        <input id="enableSubscription" type="checkbox" />
        <label for="enableSubscription" class="label-success"></label>
      </div>
    </div>
  </div>
</template>
