<template>
  <div class="section-title">Sorting</div>
  <div class="clearfix">
    <p class="info-note">Enable or disable the sorting options available on the locations list.</p>
  </div>
  <hr class="none" />
  <div class="form-group main clearfix">
    <div class="col-md-5 pull-left padding-left-zero">
      <label class="">Default Locations Sorting</label>
    </div>
    <div class="col-md-7 pull-right padding-right-zero flex-row space-between align-items-center">
      <div class="col-md-6 margin-top-zero radio radio-primary">
        <input type="radio" name="defaultLocationSort" id="sorting-dist" value="distance" checked/>
        <label for="sorting-dist">Distance</label>
      </div>
      <div class="col-md-6 radio radio-primary">
        <input type="radio" name="defaultLocationSort" id="sorting-alpha" value="alphabetical"
          onchange="onSortLocationsChanged('alphabetical')" />
        <label for="sorting-alpha">Alphabetical</label>
      </div>
    </div>
  </div>
  <hr class="none" />
  <div id="sorting-settings-container">
    
  </div>
 
</template>