<template>
    <div class="flex-row space-between">
      <div class="section-title">Introduction Screen</div>
      <div class="form-group margin-top-ten">
        <div class="button-switch">
            <input id="listview-show-introduction-btn" type="checkbox"  onchange="onShowListViewChanged(event)"/>
            <label for="listview-show-introduction-btn" class="label-success"></label>
        </div>
      </div>
    </div>
    <div class="clearfix">
        <p class="info-note">Use the introduction screen as a way to highlight your locations and include additional information about them.</p>
    </div>
    <div id="listview-carousel">

    </div>
    <hr class="none" /> 
    <div class="main clearfix">
        <div>
            <textarea id="listview-description-wysiwyg" onchange="onDescriptionChanged(event)" name="content"></textarea>
        </div>
    </div>
    <hr class="none" />
    <div>
        <h5 class="text-bold">Pinned to top locations</h5>
        <hr class="none" />
        <div class="clearfix">
            <p class="info-note margin-bottom-fifteen">Pin locations to the top of the list to highlight them.</p>
        </div>
        <div id="listview-pinned-location-items"></div>
        <div class="empty-state" id="pinned-location-empty-list">
            <h4>You haven't pinned any locations yet.</h4>
        </div>
    </div>
    <hr class="none" />
    <div>
      <h5 class="text-bold">All Locations</h5>
      <hr class="none" />
      <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Sort Locations by</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="col-md-4 margin-top-zero radio radio-primary">
              <input type="radio"  name="sortLocationBy" id="listview-sort-location-by-dist" value="distance" checked 
                  onchange="onSortLocationsChanged('distance')"/>
              <label for="listview-sort-location-by-dist">Distance</label>
            </div>
            <div class="col-md-4 margin-top-zero radio radio-primary">
              <input type="radio"  name="sortLocationBy" id="listview-sort-location-by-alpha" value="alphabetical" 
                onchange="onSortLocationsChanged('alphabetical')"/>
              <label for="listview-sort-location-by-alpha">Alphabetical</label>
            </div>
            <div class="col-md-4 margin-top-zero radio radio-primary">
              <input type="radio"  name="sortLocationBy" id="listview-sort-location-by-newest" value="newest"
                onchange="onSortLocationsChanged('newest')" />
              <label for="listview-sort-location-by-newest">Newest</label>
            </div>
          </div>
      </div>
    </div>
</template>
