<template>
    <div class="space-between">
      <div class="section-title margin-bottom-five">Introduction Screen</div>
      <div class="form-group margin-top-ten intro-visibility-container">
        <div class="padding-right-zero">
          <div class="col-md-4 margin-top-zero radio radio-primary">
            <input type="radio" name="introVisibility" id="listview-show-locations-by-all" value="NONE"
              onchange="onShowListViewChanged('NONE')" />
            <label for="listview-show-locations-by-all">No Users</label>
          </div>
          <div class="col-md-4 margin-top-zero radio radio-primary">
            <input type="radio" name="introVisibility" id="listview-show-locations-by-user-position" value="TAGS"
              onchange="onShowListViewChanged('TAGS')" />
            <label for="listview-show-locations-by-user-position">Users With</label>
          </div>
          <div class="col-md-4 margin-top-zero radio radio-primary">
            <input type="radio" name="introVisibility" id="listview-show-locations-by-area-radius" value="ALL"
              onchange="onShowListViewChanged('ALL')" />
            <label for="listview-show-locations-by-area-radius">All Users</label>
          </div>
        </div>
        <div id="introVisibilityTagsSelection" class="hidden" />
      </div>
    </div>
    <div class="clearfix">
        <p class="info-note">Use the introduction screen as a way to highlight your locations and include additional information about them.</p>
    </div>
    <div id="listview-carousel">

    </div>
    <hr class="none" />
    <div class="main clearfix">
        <div>
            <textarea id="listview-description-wysiwyg"  name="content"></textarea>
        </div>
    </div>
    <hr class="none" />
    <div>
        <h5 class="section-subtitle">Pinned to top locations</h5>
        <hr class="none" />
        <div class="clearfix">
            <p class="info-note margin-bottom-fifteen">Pin locations to the top of the list to highlight them.</p>
        </div>
        <div id="listview-pinned-location-items"></div>
        <div class="empty-state" id="pinned-location-empty-list">
            <h4>You haven't pinned any locations yet.</h4>
        </div>
    </div>
    <hr class="none" />
    <div>
      <h5 class="section-subtitle">Other Locations</h5>
      <hr class="none" />
      <div class="form-group main clearfix">
          <div class="col-md-4 pull-left padding-left-zero">
            <label class="btn-description">Location Source
              <div class="bf-tooltip margin-left-ten">
                <div class="tooltip-content to-center">
                  Select which locations are shown on the Introduction screen: all locations,
                  locations near the user,
                  locations in the selected local area,
                  or only locations created by the logged-in user.
                </div>
              </div>
            </label>
          </div>
          <div class="col-md-12 pull-right padding-zero">
            <div id="locationsSourceDropdown"></div>
          </div>
      </div>
      <div class="clearfix hidden" id="locationSourceNote">
        <p class="info-note">Note: Only locations created by the logged-in user are shown on the Introduction screen.</p>
      </div>
      <div id="areaRadiusOptionsContainer" class="hidden">
        <div class="form-group main clearfix">
          <div class="col-md-4 pull-left padding-left-zero">
            <label class="" for="area-radius-address-input">Area Center</label>
          </div>
          <div class="col-md-8 pull-right padding-right-zero">
            <input type="text" class="form-control" required maxlength="100" id="area-radius-address-input" placeholder="" />
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-4 pull-left padding-left-zero">
            <label class="" for="location-area-radius-input">Area Radius (miles)
            <div class="bf-tooltip margin-left-ten">
              <div class="tooltip-content to-center">
                Distance around the selected area center. All locations within this radius will appear on the introduction screen. max 200 mile.
              </div>
            </div>
            </label>
          </div>
          <div class="col-md-8 pull-right padding-right-zero">
            <input type="number" min="1" max="200" class="form-control" required id="location-area-radius-input" placeholder="" />
          </div>
        </div>
        <hr class="none" />
        <div id="local-area-map"></div>
        <hr class="none" />
      </div>

      <div class="form-group main clearfix">
          <div class="col-md-4 pull-left padding-left-zero">
            <label class="btn-description">Sort Locations by
              <div class="bf-tooltip margin-left-ten">
                <div class="tooltip-content to-center">
                  Choose how to sort locations on the introduction screen.
                </div>
              </div>
            </label>
          </div>
          <div class="col-md-12 pull-right padding-zero">
            <div id="sortLocationsDropdown"></div>
          </div>
      </div>
    </div>
</template>
