<template>
  <h1 class="section-title">Locations</h1>
  <div class="clearfix">
    <p class="info-note">
      Create a list of locations to display on a map. Make them easy to find by creating [Categories].
    </p>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Search" id="location-search-input"
      onkeyup="searchLocations(event)" />
    <button class="btn btn-info" type="button">
      <div class="search-icon"></div>
    </button>
  </div>
  <hr class="none" />
  <div class="actions">
    <input type="file" id="location-file-input" accept=".csv" style="display:none">

    <div class="btn-group margin-right-fifteen" id="location-bulk-dropdown">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" onclick="openLocationsBulkAction(event)">
        Bulk Actions
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a onclick="downloadLocationTemplate()">Download Template</a></li>
        <li><a onclick="exportLocations()">Export</a></li>
        <li><a onclick="importLocations()">Import</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-success btn-add" onclick="addEditLocation()">
       Add Location
    </button>
  </div>
  <table id="locations-items" class="table table-striped margin-top-fifteen margin-bottom-zero">
  </table>
  <div class="empty-state hidden" id="location-empty-list">
    <h4>No Locations Added.</h4>
  </div>
  <template id="addLocationTemplate">
    <div class="sub-page">
      <div class="sub-page-body">
        <div class="section-title">Location Details</div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="required-label" for="location-title-input">Location Title</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <input type="text" class="form-control" required maxlength="100" id="location-title-input" placeholder="" />
            <div id="location-title-error" class="text-danger hidden">
              Required
            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="" for="location-subtitle-input">Location Subtitle</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <input type="text" class="form-control" required maxlength="100" id="location-subtitle-input" placeholder="" />
            <div id="location-subtitle-error" class="text-danger hidden">
              Required
            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="" for="pin-top-btn">Pin Location on top of the list view</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero flex-row">
            <div>
              <button class="btn btn-primary" id="pin-top-btn">Pin To Top</button>
            </div>
            <div class="margin-left-twenty">
              <p class="margin-bottom-zero text-muted" id="location-pinned-label">0 of 3 Pinned</p>
              <p class="text-muted">You can change the pinned locations on <a id="location-navigate-to-listview-link">Introduction Screen</a> page.</p>
            </div>
          </div>
        </div>
        <hr class="none" />
        <div>
          <h5 class="text-bold">Location on Map</h5>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="required-label" for="location-address-input">Location Address</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <input type="text" class="form-control" required maxlength="100" id="location-address-input" placeholder="" />
            <div id="location-address-error" class="text-danger hidden">
              Required
            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="" for="location-custom-name-input">Location Custom Name</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <input type="text" class="form-control" required maxlength="100" id="location-custom-name-input" placeholder="" />
            <div id="location-custom-name-error" class="text-danger hidden">
              Required
            </div>
          </div>
        </div>
        <hr class="none" />
        <div id="location-map">
        </div>
        <hr class="none" />
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Marker Type</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero flex-row">
            <div class="col-md-4 margin-top-zero radio radio-primary">
              <input type="radio"  name="markerType" id="marker-pin-radio" value="pin" checked />
              <label for="marker-pin-radio">Pin</label>
            </div>
            <div class="col-md-4 margin-top-zero radio radio-primary">
              <input type="radio"  name="markerType" id="marker-circle-radio" value="circle" />
              <label for="marker-circle-radio">Circle</label>
            </div>
            <div class="col-md-4 margin-top-zero radio radio-primary">
              <input type="radio"  name="markerType" id="marker-image-radio" value="image" />
              <label for="marker-image-radio">Image</label>
            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix hidden" id="select-marker-image-container">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="" for="select-marker-image-btn">Marker Image</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="icon-holder" id="select-marker-image-btn">
              <span class="add-icon text-success"> + </span>
              <img class="image-icon hidden" />
              <i class="glyph-icon hidden"></i>
            </div>
            <div id="location-marker-image-error" class="text-danger hidden margin-top-five">
              Required
            </div>
          </div>
        </div>
        <div class="form-group main clearfix" id="select-marker-color-container">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="" for="marker-image-btn">Marker Color</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="colorgrid pull-left" id="select-marker-color-btn">
              <div class="gradient-results">
                  <div  class="coloritem">
                      <a class="img-thumbnail">
                      <span class="color border-radius-four border-grey relative-position">
                          <div class="color-not-selected"></div>
                      </span>
                      </a>
                  </div>
              </div>
            </div>
            <div id="location-marker-color-error" class="text-danger hidden margin-top-five">
              Required
            </div>
          </div>
        </div>
        <hr class="none" />
        <div>
          <h5 class="text-bold">Categories</h5>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="required-label">Location Categories</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="flex-row space-between flex-wrap">
              <div>
                <button class="btn btn-primary" id="location-edit-categories-btn">Edit Location Categories</button>
              </div>
              <div class="form-group flex-row">
                  <label>Show category on Location Screen</label>
                  <div class="button-switch">
                      <input id="location-show-category-toggle" type="checkbox" onclick="" checked/>
                      <label for="location-show-category-toggle" class="label-success"></label>
                  </div>
              </div>
            </div>
            <hr class="none" />
            <div class="location-categories-container well margin-bottom-ten">
              <p class="text-muted" id="location-categories-count-txt"></p>
              <div id="location-categories-list">
              </div>
            </div>
            <div class="flex-row space-between">
              <div>
                <div id="location-categories-error" class="text-danger hidden">
                  Required
                </div>
              </div>
              <div class="text-right">
                <a id="location-edit-all-categories">Add New Categories</a>
              </div>
            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Enable Opening Hours</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="flex-row space-between">
              <div>
                <span class="text-muted">Days</span>
              </div>
              <div class="form-group">
                  <div class="button-switch">
                      <input id="location-show-opening-hours-btn" type="checkbox" onclick="" />
                      <label for="location-show-opening-hours-btn" class="label-success"></label>
                  </div>
              </div>
            </div>
            <hr class="none" />
            <div class="location-opening-hours-container" id="location-opening-hours-container">
            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Enable Price Range</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="flex-row space-between align-items-center">
              <div class="flex-row col-md-9 padding-zero">
                <div class="form-group col-md-2 margin-top-zero radio radio-primary">
                  <input type="radio" id="price-range-radio-1" value="1" name="priceRangeValue" />
                  <label for="price-range-radio-1">$</label>
                </div>
                <div class="form-group col-md-2 margin-top-zero radio radio-primary">
                  <input type="radio" id="price-range-radio-2" value="2" name="priceRangeValue"/>
                  <label for="price-range-radio-2">$$</label>
                </div>
                <div class="form-group col-md-2 margin-top-zero radio radio-primary">
                  <input type="radio" id="price-range-radio-3" value="3" name="priceRangeValue"/>
                  <label for="price-range-radio-3">$$$</label>
                </div>
                <div class="form-group col-md-3 margin-top-zero radio radio-primary">
                  <input type="radio" id="price-range-radio-4" value="4" name="priceRangeValue"/>
                  <label for="price-range-radio-4">$$$$</label>
                </div>
                <div class="form-group col-md-3 margin-top-zero radio radio-primary">
                  <select class="form-control" id="location-select-price-currency">
                    <option value="€">€</option>
                    <option value="$">$</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                  <div class="button-switch">
                      <input id="location-show-price-range-btn" type="checkbox" onclick="" />
                      <label for="location-show-price-range-btn" class="label-success"></label>
                  </div>
              </div>
            </div>

          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Enable 5 Star Rating</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero flex-row space-between">
            <div></div>
              <div class="form-group">
                <div class="button-switch">
                    <input id="location-show-star-rating-btn" type="checkbox"  />
                    <label for="location-show-star-rating-btn" class="label-success"></label>
                </div>
              </div>
          </div>
        </div>
        <hr class="none" />
        <div>
          <h5 class="text-bold">Location Information & Images</h5>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="required-label">List Image</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero ">
            <div class="icon-holder list-image-holder " id="location-list-image">
              <span class="add-icon text-success"> + </span>
              <img class="image-icon hidden" />
              <img class="glyph-icon hidden" />
            </div>
            <div id="location-list-image-error" class="text-danger hidden margin-top-five">
              Required
            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Location Images</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="">
              <button type="button" class="btn btn-success btn-add" id="location-add-images-btn">
                Add Images
              </button>
            </div>
            <div id="location-image-items" class="margin-top-ten">

            </div>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div>
            <label class="required-label">Description</label>
          </div>
          <div>
            <textarea id="location-description-wysiwyg" name="content"></textarea>
          </div>
          <div id="location-description-error" class="text-danger hidden">
            Required
          </div>
        </div>
        <hr class="none" />
        <hr class="none" />
        <div>
          <h5 class="text-bold">Location Action</h5>
          <hr class="none" />
          <div class="clearfix">
            <p class="info-note">You can add custom actions to your location to increase engagement.</p>
          </div>
        </div>
        <hr class="none" />
        <div class="form-group main clearfix">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Select Action</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="">
              <button type="button" class="btn btn-success btn-add" id="location-add-actions-btn">
                Add Action Item
              </button>
            </div>
            <div id="location-action-items" class="margin-top-ten">

            </div>
          </div>
        </div>
        <div class="form-group main clearfix hidden">
          <div class="col-md-3 pull-left padding-left-zero">
            <label class="">Location Owner</label>
          </div>
          <div class="col-md-9 pull-right padding-right-zero">
            <div class="flex-row align-items-center">
              <button type="button" class="btn btn-success btn-add" id="location-add-owner-btn">
                Add Location Owner
              </button>
              <div class="margin-right-fifteen margin-left-fifteen">
                <span id="location-owner-txt"></span>
              </div>
              <div class="margin-right-fifteen margin-left-fifteen">
                <span class="btn--icon btn-small icon icon-cross2 hidden"  id="location-delete-owner-btn"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-page-footer bottom-actions">
        <button class="btn btn-default" id="location-cancel-btn">
          Cancel
        </button>
        <button class="btn btn-success" id="location-save-btn">Save</button>
      </div>
    </div>
  </template>
  <template id="selectCategoryItemTemplate">
    <div class="main clearfix flex-row categories-list-item ">
      <div class="padding-left-zero">
        <div class="icon-holder category-icon">
          <span class="add-icon text-success"> + </span>
          <img class="image-icon hidden" />
          <i class="glyph-icon hidden"></i>
        </div>
      </div>
      <div class="flex-auto padding-zero">
        <div class="flex-row space-between">
          <div>
            <h5 class="category-name text-bold margin-top-zero">Category 1</h5>
            <span class="subcategory-count">14 Subcategories</span>
          </div>
          <div class="form-group">
              <div class="button-switch">
                  <input id="enable-category-toggle" type="checkbox" onclick="" checked/>
                  <label id="enable-category-label" for="enable-category-toggle" class="label-success"></label>
              </div>
          </div>
        </div>
        <div class="location-subcategories-container  form-group margin-top-fifteen flex-row flex-wrap space-between">

        </div>
      </div>
    </div>
  </template>
  <template id="searchBoxTemplate">
    <div class="search-bar">
      <input type="text" class="form-control search-input" placeholder="Search" name="searchTxt" id=""/>
      <button class="btn btn-info search-btn" type="button">
        <div class="search-icon"></div>
      </button>
    </div>
  </template>
  <template id="openingHoursDayItemTemplate">
    <div class="opening-hours-day-item flex-row space-between" >
      <div class="enable-day-checkbox col-md-3 margin-top-zero checkbox checkbox-primary">
        <input type="checkbox" id="sunday" class="enable-day-input" checked/>
        <label for="sunday" class="enable-day-label">Sunday</label>
      </div>
      <div class="day-intervals col-md-7 padding-zero">

      </div>
      <div class="action">
        <button class="btn btn-default add-hours-btn">
          <span class="text-success">Add Hours</span>
        </button>
      </div>
    </div>
  </template>
  <template id="dayIntervalTemplate">
    <div>
      <div class="day-intervals-item">
        <div>
          <input type="time" class="form-control from" value="08:00">
        </div>
        <div class="margin-left-ten">
          <input type="time" class="form-control to" value="20:00">
        </div>
        <div class="margin-left-ten">
          <span class="btn--icon btn-small icon icon-cross2 delete-interval-btn"></span>
        </div>
      </div>
      <div class="interval-error text-danger padding-bottom-five hidden">
        Choose an end time later than the start time.
      </div>
    </div>
  </template>
</template>
